a {
    text-decoration: none;
}

.color_text {
    color: rgba(45, 112, 139, 0.712);
}

.img {
    width: 200px;
    border-radius: 25px;
    border: 15px solid white
    
}

.icon {
    width: 50px
}
.item {
    display: flex;
}

.nav__link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
}

.title {
    color: #222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}